@import "theme";

.table-light {
  .state-cancel {
    background: $color-error;
  }

  .state-option {
    background: $color3;
  }

  .state-confirmed {
    background: $color-success;
  }
}

app-template-a {
  .table-light {
    .state-option {
      background: $color1;
    }
  }
}

app-template-b {
  .table-light {
    .state-option {
      background: $color2;
    }
  }
}
